Name:           comodit-agent-plugin-docker
Version:        #VERSION#
Release:        #RELEASE#%{dist}
Summary:        Docker controller plugin for comodit-agent

Group:          Development/Languages
License:        MIT
URL:            http://github.com/guardis/comodit-agent-plugin-docker
Source0:        %{name}-%{version}-#RELEASE#.tar.gz
BuildRoot:      %{_tmppath}/%{name}-%{version}-%{release}-root-%(%{__id_u} -n)

BuildArch:      noarch

Requires: comodit-agent >= 1.10.0
Requires: python-docker-py >= 0.1.3

%description
Docker controller plugin for the comodit-agent

%prep
%setup -c

# Turn off the brp-python-bytecompile script
# https://fedoraproject.org/wiki/Packaging:Python#Bytecompiling_with_the_correct_python_version
%global __os_install_post %(echo '%{__os_install_post}' | sed -e 's!/usr/lib[^[:space:]]*/brp-python-bytecompile[[:space:]].*$!!g')

%build

%install
%{__rm} -rf %{buildroot}

%{__mkdir} -p %{buildroot}/var/lib/comodit-agent/data
%{__mkdir} -p %{buildroot}/var/lib/comodit-agent/plugins/docker-plugin
%{__mkdir} -p %{buildroot}/etc/comodit-agent/plugins/
%{__mkdir} -p %{buildroot}/etc/comodit-agent/alerts.d/

%{__cp} *.py %{buildroot}/var/lib/comodit-agent/plugins/docker-plugin
%{__cp} conf/docks.conf %{buildroot}/etc/comodit-agent/plugins
%{__cp} conf/alerts.d/docks.conf %{buildroot}/etc/comodit-agent/alerts.d

%clean
#%{__rm} -rf %{buildroot}

%files
/var/lib/comodit-agent/plugins/docker-plugin/*.py
%config(noreplace) /etc/comodit-agent/plugins/docks.conf
%config(noreplace) /etc/comodit-agent/alerts.d/docks.conf

%changelog
* Mon Aug 12 2013 Raphael Degiusti raphael.degiusti (at) gmail.com
- Added first changelog log

